{% extends "parts_top.html" %}
{% block content %}
 <!--     <table>

      <tr>
         <td>Part Number: </td><td>{{res[0]}}</td>
      </tr>
      <tr>
         <td>Description: </td><td>{{res[1]}}</td>
      </tr>
     
      </table> -->
   <h1>Show Part</h1>
     <form action="/savepart" method="POST" novalidate>
    {% for field in form %}
        <tr>
        {% if field.type == "SubmitField" %}
            <td>{{ field }}</td><br>
        {% else %}
            <td>{{ field.label }}<br>{{ field }}</td><br>
        {% endif %}
        </tr>
        
    {% endfor %}
    </form>      
      
      
      
{% endblock %}
