{% extends "parts_top.html" %}
{% block content %}
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
</head>
<body>
    <h1>Remove Part</h1>
    <form method="POST" novalidate>
    {% for field in form %}
        <tr>
        {% if field.type == "SubmitField" %}
            <td>{{ field }}</td><br>
        {% else %}
            <td>{{ field.label }}<br>{{ field }}</td><br>
        {% endif %}
        </tr>
        
    {% endfor %}
    </form>
</body>
{% endblock %}
