{% extends "parts_top.html" %}
{% block content %}
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
</head>
<body>
<form method="POST" novalidate>    
{{ form.autocomp.label }}: {{ form.autocomp }} {{ form.autocomp1.label }}: {{ form.autocomp1 }} {{ form.autocomp2.label }}: {{ form.autocomp2 }} {{form.submit()}}
</form>
<hr>


<script>
    $(function() {
        $.ajax({
            url: '{{ url_for("autocomplete_part") }}'
            }).done(function (data){
                $('#parts_autocomplete').autocomplete({
                    source: data,
                    minLength: 2,
                });
            });
        });
    $(function() {
        $.ajax({
            url: '{{ url_for("autocomplete_desc") }}'
            }).done(function (data){
                $('#desc_autocomplete').autocomplete({
                    source: data,
                    minLength: 2,
                });
            });
        });
    $(function() {
        $.ajax({
            url: '{{ url_for("autocomplete_code") }}'
            }).done(function (data){
                $('#code_autocomplete').autocomplete({
                    source: data,
                    minLength: 2,
                });
            });
        });
</script>


</body>
{% endblock %}
